:root {
  --gray__dark: #5b5a5a;
  --h-nav__bar: 50px;
  --h-nav__bar__big: 70px;
  --scroll__margin__top: 80px;
  --max-width: 1200px;
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --box__shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  --box__shadow__light: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --bow__shadow__red: 0 0.25rem 1rem #e94959;
  --box__shadow__down: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  --red__light: hsl(354, 78%, 60%);

  /*===================Dark Mode=================*/

  --gray__darkMode: #5b5a5a;
  --h-nav__barMode: 50px;
  --h-nav__bar__bigMode: 70px;
  --scroll__margin__topMode: 80px;
  --blackMode: #000;
  --whiteMode: #fff;
  --grayMode: #ccc;
  --box__shadowMode: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  --box__shadow__lightMode: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --bow__shadow__redMode: 0 0.25rem 1rem #e94959;
  --box__shadow__downMode: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  --red__lightMode: hsl(354, 78%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-margin-top: var(--h-nav__bar__big);
}

.main__container {
  display: flex;
  flex-direction: column;
  transition: scroll-behavior 0.5;
  scroll-behavior: smooth;
  background-color: var(--gray);
  user-select: none;
  background-color: blue;
}

.dark__mode {
  background-color: red;
}

img {
  width: 100%;
  display: block;
}

nav {
  display: flex;
}
.nav__container {
  display: flex;
}

.nav__logo__icon {
  font-size: 5rem;
}

.navbar__logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
/*=======================Header===============================
*/
header {
  display: flex;
  height: var(--h-nav__bar);
  background-color: var(--white);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

header nav i {
  font-size: 3rem;
  cursor: pointer;
  position: relative;
}

.nav__container {
  display: flex;
  gap: 1rem;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo:hover {
  transform: scale(1.05);
}

.nav__logo img {
  width: 150px;
}

.nav__icons {
  display: flex;
}

.nav__logo__icon {
  display: flex;
  background-color: transparent;
}

.bxs-moon:hover {
  transform: scale(1.08);
}
.bx-cart-alt:hover {
  transform: scale(1.08);
}

.bx-menu:hover {
  transform: scale(1.08);
}
.cart__amount__product {
  width: 15px;
  border-radius: 50%;
  font-size: 1rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 15px;
}
/*=======================Home===============================
*/

.home__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home {
  width: 100%;
  top: -100px;
  display: flex;
  flex-direction: column;
  top: -2rem;
}

.home__header {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height: 50vh;
  background-color: var(--red__light);
  justify-content: center;
  align-items: center;
}

.home__header__img {
  min-width: 200px;
}

.home__header__img > img {
  min-width: 200px;
}

.home__text {
  min-width: 200px;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}
.text__container {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-width: 200px;
}

.home__text__title {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--red__light);
}

.home__text__p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray__dark);
}

.home__text_price {
  font-size: 1rem;
  font-weight: 900;
  color: var(--red__light);
}

.home__link_showmore {
  width: 40%;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  color: var(--gray__dark);
  outline: #8c8c8c;
  font-weight: 500;
  text-decoration: none;
  background: rgb(157, 139, 139);
  background: radial-gradient(
    circle,
    rgba(157, 139, 139, 0.34506302521008403) 39%,
    rgba(233, 73, 89, 0.13217787114845936) 100%
  );
  border-radius: 0.5rem;
  box-shadow: var(--box__shadow);
  font-weight: 700;
}

.home__link_showmore:hover {
  transform: scale(1.05);
}

.home__link_showmore:active {
  transform: scale(0.95);
}

/*=======================products===============================
*/
.container__products {
  padding: 1rem;
}

.buttons {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 8rem));
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-around;
  gap: 1rem;
  box-shadow: var(--box__shadow);
  background-color: var(--white);
  border-radius: 0.3rem;
}

.btn {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0.8rem 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: var(--white);
  box-shadow: var(--box__shadow__light);
  transition: transform 0.5s background-color 0.5s;
  font-size: 1rem;
  font-weight: 500;
}

.btn:hover {
  transform: scale(0.95);
  background-color: var(--gray);
}

.btn:active {
  transform: scale(1.05);
  background-color: var(--gray);
  box-shadow: var(--box__shadow__down);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 1rem;
  padding-top: 3rem;
}

.product {
  display: grid;
  border-radius: 1rem;
  box-shadow: var(--box__shadow);
  background-color: var(--white);
}

.product__img {
  padding: 1rem;
}

.product__info {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.amount {
  display: inline-block;
  text-align: center;
  width: 50px;
  background-color: blue;
  font-size: 5rem;
  font-weight: bold;
}

.product__info span {
  font-weight: normal;
  font-size: 0.7rem;
}

.product__info h4 {
  min-height: 1.5rem;
}

.product__info h5 {
  align-self: end;
}

.product__info .bx-plus {
  background-color: var(--white);
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--black);
  font-weight: bold;
  font-size: 0.8rem;
}

.product__info .bx-minus {
  background-color: var(--white);
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  color: var(--black);

  font-size: 0.8rem;
}

.product__info .bxs-trash {
  background-color: var(--white);
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  color: var(--black);
  color: var(--red__light);
  font-size: 0.8rem;
}

.bxs-trash {
  color: var(--red__light);
  font-size: 0.8rem;
}

.sold__out {
  border-radius: 1rem;
  padding: 0.2rem;
  box-shadow: var(--bow__shadow__red);
  margin-left: 10px;
  gap: 1rem;
  background-color: var(--red__light);
  color: white;
}

/*=======================Cart===============================
*/

.cart {
  height: calc(100vh - var(--h-nav__bar));
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: var(--h-nav__bar);
  transform: translateX(100%);
  display: flex;
  padding: 1rem;
  flex-direction: column;
  transition: transform 0.5s;
}

.cart__show {
  transform: translateX(0%);
}

.cart__products {
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.cart__product {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100px;
  gap: 0.2rem;
  align-items: center;
  box-shadow: var(--box__shadow);
  border-radius: 1rem;

  font-size: 0.6rem;
}

.cart__product:hover {
  box-shadow: none;
}
.cart__product__body {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  padding: 0.7rem;
}

.cart__product__img img {
  width: 80px;
  background-color: var(--gray);
  border-radius: 1rem;
  box-shadow: var(--box__shadow);
}

.cart__product__opt {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.cart__product__opt i {
  cursor: pointer;
}

.cart__product__opt .bx-plus {
  background-color: none;
}

.cart__total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 15%;
  padding: 1rem;
}

.cart__total__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}

.btn__buy {
  border-radius: 0.4rem;
  padding: 0.4rem;
  width: 100%;
  background-color: var(--gray);
  outline: 0;
  border: 0;
  box-shadow: var(--box__shadow);
  transition: transform 0.5s;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.btn__buy:hover {
  transform: scale(1.06);
}

.btn__buy:active {
  transform: scale(0.99);
}

@media (min-width: 700px) {
  header {
    height: var(--h-nav__bar__big);
  }

  .nav__logo img {
    width: 200px;
  }

  .main__container {
    display: flex;
    flex-direction: column;
  }

  .home {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .home__container {
    gap: 1rem;
    flex-direction: column;
  }

  .home__header {
    width: 100%;
    height: 80vh;
  }

  .text__container {
    padding: 1rem;
    width: 100%;
  }

  .home__text {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .home__text__title {
    margin-top: var(--h-nav__bar);
    line-height: 2rem;
    font-size: 2rem;
    color: var(--red__light);
    margin: 0;
  }

  .home__text__p {
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--gray__dark);
    justify-content: start;
  }

  .home__text_price {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--red__light);
  }

  .home__link_showmore {
    display: flex;
    align-items: center;
    width: 50%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .home__header {
    display: flex;
    background-color: var(--red__light);
  }

  .home__header__img {
    margin-top: var(--h-nav__bar);
    display: block;
  }

  .void {
    width: 100%;
    height: 20vh;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .cart {
    width: 500px;
    right: -400px;
    transition: right 0.5s;

    box-shadow: var(--box__shadow);
  }

  .cart__show {
    right: 0px;
    top: 70px;
  }

  .cart__products {
    height: 85%;
  }
}

@media (min-width: 1000px) {
  .home__container {
    justify-content: center;
    align-items: center;
  }
  .home {
    max-width: var(--max-width);
  }

  .home__text {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .text__container {
    max-width: 80%;
  }

  .home__text__title {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }

  .home__text__p {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .home__text_price {
    font-size: 1.3rem;
  }

  .home__header {
    width: 40%;
  }

  .home__header__img {
    display: block;
  }

  .home__link_showmore {
    width: 50%;
    padding: 1.3rem;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
