:root {
  --gray__dark: #515657;
  --h-nav__bar: 50px;
  --h-nav__bar__big: 70px;
  --scroll__margin__top: 80px;
  --max-width: 1200px;
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --box__shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  --box__shadow__light: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --bow__shadow__red: 0 0.25rem 1rem #e94959;
  --box__shadow__down: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
  --red__light: hsl(354, 78%, 60%);

  /*===================Dark Mode=================*/

  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --accent-100: #006fff;
  --accent-200: #e1ffff;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
  --box__shadow__darkmode: 0 1rem 1rem #ffffff10;

  /*  --primary-100: #ffffff;
  --primary-200: #e0e0e0;
  --primary-300: #9b9b9b;
  --accent-100: #7f7f7f;
  --accent-200: #ffffff;
  --text-100: #ffffff;
  --text-200: #777777;
  --bg-100: #000000;
  --bg-200: #161616;
  --bg-300: #2c2c2c;
  --box__shadow__darkmode: 0 1rem 1rem #ffffff10; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-margin-top: var(--h-nav__bar__big);
  user-select: none;
}

body.dark__mode {
  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --accent-100: #006fff;
  --accent-200: #e1ffff;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
  --box__shadow__darkmode: 0 1rem 1rem #ffffff10;
}

body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-thumb {
  width: 20px;
  background-color: var(--bg-100);
  border-radius: 1rem;
}

body::-webkit-scrollbar-track {
  width: 20px;
  border-radius: 1rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--bg-100);
}

.main__container {
  display: flex;
  flex-direction: column;
  transition: scroll-behavior 0.5;
  scroll-behavior: smooth;
  background-color: var(--text-100);

  transition: 0.5s;
}

.dark__mode .main__container {
  background-color: var(--bg-100);
}

/*=======================Header===============================
*/
header {
  display: flex;
  height: var(--h-nav__bar);
  background-color: var(--text-100);
  box-shadow: var(--box__shadow__down);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: background-color 0.5 box-shadow 0.5;
}

.dark__mode header {
  background-color: var(--bg-100);
  box-shadow: var(--box__shadow__darkmode);
}

header nav i {
  font-size: 3rem;
  cursor: pointer;
  position: relative;
}

.nav__logo__icon {
  display: flex;
  font-size: 1rem;
}

.bxs-moon:hover {
  transform: scale(1.08);
}
.bx-cart-alt:hover {
  transform: scale(1.08);
}

.bx-menu:hover {
  transform: scale(1.08);
}

.home__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home {
  width: 100%;
  top: -100px;
  display: flex;
  flex-direction: column;
  top: -2rem;
}

.home__header {
  margin-top: 1rem;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height: 50vh;
  background-color: var(--red__light);
  justify-content: center;
  align-items: center;
  transition: backgroun-color 0.5s;
}

.dark__mode .home__header {
  background-color: var(--accent-200);
}

.container__products {
  padding: 1rem;
}

.buttons {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 8rem));
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-around;
  gap: 1rem;
  box-shadow: var(--box__shadow);
  background-color: var(--white);
  border-radius: 0.3rem;
}

.cart {
  height: calc(100vh - var(--h-nav__bar));
  width: 100%;
  background-color: var(--gray);
  position: fixed;
  top: var(--h-nav__bar);
  transform: translateX(100%);
  display: flex;
  padding: 1rem;
  flex-direction: column;
  transition: transform 0.5s;
}

.dark__mode .cart {
  background-color: var(--bg-200);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav__container {
  display: flex;
  position: relative;
  gap: 1rem;
}
svg {
  display: inline-block;
}

.nav__logo {
  display: flex;
  background-color: blue;
}

.container__logo {
  padding: 5rem;
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.container__logo p {
  display: inline-block;
  background-color: green;
}

.nav__logo__icon {
  font-size: 5rem;
}

.container__logo:hover {
  transform: scale(1.05);
}

.nav__icons {
  display: flex;
}

.bxs-moon:hover {
  transform: scale(1.08);
}
.bx-cart-alt:hover {
  transform: scale(1.08);
}

.bx-menu:hover {
  transform: scale(1.08);
}

img {
  width: 100%;
  display: block;
}

.nav__container {
  display: flex;
}

.navbar__logo {
  padding: 10rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--accent-100);
}

.menu {
  margin-top: var(--h-nav__bar);
  opacity: 0;
  position: fixed;

  background-color: var(--text-100);
  display: flex;
  align-self: flex-end;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.dark__mode .menu {
  background-color: var(--bg-100);
}

.menu__hidden {
  opacity: 1;
  height: 100%;
}

.menu a {
  text-align: center;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--bg-100);
  letter-spacing: 0.5rem;
  width: 90%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--red__light);
  box-shadow: var(--box__shadow);
  transition: color 0.5s background-color 0.5s transform 0.5;
}

.dark__mode .menu a {
  color: var(--bg-100);
  background-color: var(--accent-100);
}

.menu a:hover {
  transform: scale(1.05);
  box-shadow: var(--box__shadow__down);
}

.dark__mode .menu a:hover {
  box-shadow: var(--box__shadow__darkmode);
}

.menu a:active {
  transform: scale(0.95);
}
.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  min-width: 200;
}
.dark__mode .menu__links {
  box-shadow: var(--box__shadow__darkmode);
}

.dark__mode .menu__text__home {
  color: var(--accent-100);
}

.menu__text__home {
  background-color: red;
  width: 80%;
}

.menu__text__home:hover {
  box-shadow: var(--box__shadow__light);
  transform: scale(1.09);
}

.menu__text__home:active {
  box-shadow: var(--box__shadow__light);
  transform: scale(0.9);
}

.menu__text__products {
  background-color: red;
  width: 100%;
}

.menu__text__products:hover {
  box-shadow: var(--box__shadow__light);
  transform: scale(1.09);
}

.menu__text__products:active {
  box-shadow: var(--box__shadow__light);
  transform: scale(0.9);
}

.cart__amount__product {
  width: 15px;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: var(--red__light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 15px;
  padding: 0.2rem;
  transition: background-color 0.5s color 0.5s;
}

.dark__mode .cart__amount__product {
  background-color: var(--accent-100);
  color: var(--bg-100);
}

/*   =======================menu================
*/
/* .menu {
  width: 800px;
  height: 800px;
  background-color: green;
} */

/*=======================Home===============================
*/

.home__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home {
  width: 100%;
  top: -100px;
  display: flex;
  flex-direction: column;
  top: -2rem;
}

.home__header {
  margin-top: 1rem;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-height: 50vh;
  background-color: var(--red__light);
  justify-content: center;
  align-items: center;
}

.home__header__img {
  min-width: 200px;
}

.home__header__img > img {
  min-width: 200px;
}

.home__text {
  min-width: 200px;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
}
.text__container {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-width: 200px;
}

.home__text__title {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--red__light);
}

.dark__mode .home__text__title {
  color: var(--accent-100);
}

.home__text__p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--bg-100);
  transition: color 0.5s;
}

.dark__mode .home__text__p {
  color: var(--accent-200);
}

.home__text_price {
  font-size: 1rem;
  font-weight: 900;
  color: var(--red__light);
  transition: background-color 0.5s;
}

.dark__mode .home__text_price {
  background-color: var(--bg-100);
}

.dark__mode .home__text_price {
  color: var(--accent-100);
}

.home__link_showmore {
  width: 40%;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  color: var(--bg-100);

  font-weight: 500;
  text-decoration: none;
  background-color: var(--text-100);
  border-radius: 0.5rem;
  box-shadow: var(--box__shadow);
  font-weight: 700;
  transition: transform 0.5s background-color 0.5s color 0.5s;
}

.dark__mode .home__link_showmore {
  background-color: var(--accent-200);
  color: var(--bg-100);
  box-shadow: var(--box__shadow__darkmode);
}

.home__link_showmore:hover {
  transform: scale(1.05);
}
.dark__mode .home__link_showmore:hover {
  background-color: var(--accent-100);
}

.home__link_showmore:active {
  transform: scale(0.95);
}

/*=======================products===============================
*/
.container__products {
  padding: 1rem;
}

.dark__mode .buttons {
  background-color: var(--bg-200);
  box-shadow: var(--box__shadow__darkmode);
}

.btn {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0.8rem 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: var(--white);
  box-shadow: var(--box__shadow__light);
  transition: transform 0.5s background-color 0.5s background-color 0.5s
    box-shadow 0.5s;
  font-size: 1rem;
  font-weight: 700;
}

.dark__mode .btn {
  background: var(--accent-200);
  color: var(--bg-100);
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--text-100);
}

.btn:active {
  transform: scale(0.95);
  background-color: var(--text-200);
  box-shadow: var(--box__shadow__down);
}

.dark__mode .btn:active,
.dark__mode .btn:hover {
  background-color: var(--accent-100);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 1rem;
  padding-top: 3rem;
}

.product {
  display: grid;
  border-radius: 1rem;
  box-shadow: var(--box__shadow);
  background-color: var(--white);
  transition: background-color 0.5s;
}

.dark__mode .product {
  background-color: var(--accent-200);
}

.product__img {
  padding: 1rem;
}

.product__info {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

/* .amount {
  display: inline-block;
  text-align: center;
  width: 50px;
  background-color: blue;
  font-size: 5rem;
  font-weight: bold;
} */

.product__info span {
  font-weight: normal;
  font-size: 0.7rem;
}

.product__info h4 {
  min-height: 1.5rem;
}

.product__info h5 {
  align-self: end;
}

.product__info .bx-plus {
  background-color: var(--text-200);
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--bg-100);
  font-weight: bold;
  font-size: 0.8rem;
}

.product__info .bx-minus {
  background-color: var(--text-200);
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  color: var(--black);
  font-size: 0.8rem;
  transition: background-color 0.5s color 0.5s;
}

.dark__mode .bx {
  background-color: var(--bg-100);
  color: var(--accent-200);
}

.product__info .bxs-trash {
  background-color: var(--text-100);
  padding: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  color: var(--red__light);
  font-size: 1rem;
}

.bxs-trash {
  color: var(--red__light);
  transition: background-color 0.5s color 0.5s box-shadow 0.5s;
}

.dark__mode .bxs-trash {
  background-color: var(--bg-100);
  color: var(--accent-100);
  box-shadow: var(--box__shadow);
}

.sold__out {
  border-radius: 1rem;
  padding: 0.2rem;
  box-shadow: var(--bow__shadow__red);
  margin-left: 10px;
  gap: 1rem;
  background-color: var(--red__light);
  color: var(--text-100);
  transition: background-color 0.5s box-shadow 0.5s;
}

.dark__mode .sold__out {
  background-color: var(--accent-100);
  box-shadow: var(--box__shadow);
}
/*=======================Cart===============================
*/

.cart {
  height: calc(100vh - var(--h-nav__bar));
  width: 100%;
  background-color: var(--text-100);
  position: fixed;
  top: var(--h-nav__bar);
  transform: translateX(100%);
  display: flex;
  padding: 1rem;
  flex-direction: column;
  transition: transform 0.5s background-color 0.5s;
}

.dark__mode .cart {
  background-color: var(--accent-200);
}

.cart__show {
  transform: translateX(0%);
}

.cart__products {
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  transition: background-color 0.5;
}

.cart__products::-webkit-scrollbar {
  width: 0.5vw;
}

.cart__products::-webkit-scrollbar-thumb {
  width: 20px;
  background-color: var(--bg-100);
  border-radius: 1rem;
  scroll-behavior: smooth;
}

.cart__products::-webkit-scrollbar-track {
  width: 20px;
  border-radius: 1rem;
}

.cart__product {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 20%;
  gap: 0.2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box__shadow);
  border-radius: 1rem;

  font-size: 0.6rem;
}

.cart__product:hover {
  box-shadow: var(--box__shadow__down);
}

.cart__product__img {
  display: flex;

  width: 50%;

  align-items: center;
  justify-content: center;
}

.cart__product__img img {
  width: 7rem;
  background-color: transparent;
  border-radius: 1rem;
  display: block;
  transition: background-color 0.5s;
}

.dark__model__img .cart__product__img img {
  background-color: var(--accent-200);
}

.cart__product__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0.7rem;
}

.cart__product__body h4 {
  font-size: 1.1rem;
  align-items: flex-start;
}

.cart__product__opt {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  font-size: 1.2rem;
}

.cart__product__opt i {
  cursor: pointer;
}

.cart__product__opt .bx-plus {
  background-color: none;
}

.cart__total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.2vh var(--bg-100) dashed;
  height: 20%;
  padding: 1rem;
}

.cart__total__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn__buy {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding: 0.4rem;
  width: 100%;
  background-color: var(--text-100);
  outline: 0;
  border: 0;
  box-shadow: var(--box__shadow);
  transition: transform 0.5s background-color 0.5;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.dark__mode .btn__buy {
  background-color: var(--accent-100);
}

.btn__buy:hover {
  transform: scale(1.06);
}

.btn__buy:active {
  transform: scale(0.99);
}

@media (min-width: 700px) {
  header {
    height: var(--h-nav__bar__big);
  }

  .nav__logo img {
    width: 200px;
  }

  .main__container {
    display: flex;
    flex-direction: column;
  }

  .home {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .home__container {
    gap: 1rem;
    flex-direction: column;
  }

  .home__header {
    width: 100%;
    height: 80vh;
  }

  .text__container {
    padding: 1rem;
    width: 100%;
  }

  .home__text {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .home__text__title {
    margin-top: var(--h-nav__bar);
    line-height: 2rem;
    font-size: 2rem;
    color: var(--red__light);
    margin: 0;
  }

  .home__text__p {
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--gray__dark);
    justify-content: start;
  }

  .home__text_price {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--red__light);
  }

  .home__link_showmore {
    display: flex;
    align-items: center;
    width: 50%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  .home__header {
    display: flex;
    background-color: var(--red__light);
  }

  .home__header__img {
    margin-top: var(--h-nav__bar);
    display: block;
  }

  .void {
    width: 100%;
    height: 20vh;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  .cart {
    width: 500px;
    right: -400px;
    transition: right 0.5s;

    box-shadow: var(--box__shadow);
  }

  .cart__show {
    right: 0px;
    top: 70px;
  }

  .cart__products {
    height: 85%;
  }
}

@media (min-width: 1000px) {
  .home__container {
    justify-content: center;
    align-items: center;
  }
  .home {
    max-width: var(--max-width);
  }

  .home__text {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .text__container {
    max-width: 80%;
  }

  .home__text__title {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }

  .home__text__p {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .home__text_price {
    font-size: 1.3rem;
  }

  .home__header {
    width: 40%;
  }

  .home__header__img {
    display: flex;
  }

  .home__link_showmore {
    width: 50%;
    padding: 1.3rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .cart__product__img img {
    width: 8rem;
  }
}
